<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <div class="field is-horisontal">
        <div class="field-body">

            <div class="field is-narrow">
                <p class="control">
                    <input required type="number" class="input" placeholder="Amount" style="width:100px" name="amount"  [ngModel]='item.amount'>
                </p>
            </div>

            <div class="field">
                <p class="control">
                    <input required type="text" class="input" placeholder="Description" name="description"  [ngModel]='item.description'>
                </p>
            </div>

            <div class="field is-narrow">
                <button class="button" [ngClass]="{ 'is-primary': isNewItem, 'is-success': !isNewItem }" type="submit" [disabled]="!itemForm.valid">
                    <p *ngIf="isNewItem">Add</p>
                    <p *ngIf="!isNewItem">Save</p>
                </button>
            </div>

        </div>
    </div>

</form>
